<html>
<head>
    <title>Profil de <%= @user.first_name %></title>
  </head>
  <body>
    <div class="card-header text-center">
      <h3>Profil de <%= @user.first_name %> <%= @user.last_name %></h3>
    </div>
    </br>
    <div class="card-header text-center">
      <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar' %>
      <%else%>
      <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
       <%end%>
    </div>
  </br>
    <div class="d-flex justify-content-around text-center">
    <div class="card " style="width: 18rem;">
      <div class="card-body">
        <p class="card-text">Prénom : <%= @user.first_name %></p>
        <p class="card-text">Nom : <%= @user.last_name %></p>
        <p class="card-text">Description : <%= @user.description %></p>
        <p class="card-text">Email : <%=  @user.email %></p>
        <p class="card-text">Créé le : <%= @user.created_at %></p>
        <p class="card-text">Modifié le : <%= @user.updated_at %></p>
        <% if current_user.id == @user.id %>
        </br>
        <%= link_to"Editer Profil", edit_user_path(current_user.id) ,  class: "btn btn-dark btn-lg" %>
        <hr class="my-4">
        <%= link_to"Editer Sécurité", edit_user_registration_path ,  class: "btn btn-dark btn-lg" %>
        <% end %>
        <hr class="my-4">
      </div>
    </div>
  </div>
  </br>
  <div class="text-center">
  <% @events.each do |event| %>
    <% if event.user_id == @user.id %>
      <li class="list-group-item"> Event : <%= event.title %></li>
      <li class="list-group-item"> Description : <%= event.description %></li> 
        <% if event.user_id == current_user.id %>
          <li class="list-group-item"> <%= link_to"Editer", edit_event_path(event.id), class: "btn btn-warning btn-lg" %></li>
        <% end %>
      <% end %>
    <% end %>
  </div>
  </body>
</html>
